@import "bulma.min";


/* portfolio template css */

html {
    font-size: 18px;

} 

body
{
  font-family: 'Barlow', sans-serif;
  background-attachment: fixed;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23010002' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

hr{
  align:right;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  color:black;
}

#foot{
  font-size:0.9rem;
}

i{
  color:#1E1E1D;
}

.navbar{
    color:#1E1E1D;

-webkit-box-shadow: 0px 3.6px 0px 0px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 3.6px 0px 0px rgba(0,0,0,0.20);
box-shadow: 0px 3.6px 0px 0px rgba(0,0,0,0.20);
}

ul.navbar-nav a:hover { 
  color: #24338a !important; 
}

.sirin{
  font-family: 'Miriam Libre', sans-serif;

}

.bgcustom{
  background-color:white;
}

#sc{
  color:#ff00fa;
}

a {
  text-decoration: none;
  color:#000;
}
a:hover{
  text-decoration: none;
  color:#24338a;
}

i:hover{
  text-decoration: none;
  color:#24338a;
}